@import "_nullstyle.scss";

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');


body{
    font-family: "Lato";
    font-style: normal;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    color: #FFFFFF;
}


img{
    max-width: 100%;
    height: auto;
}

.wrapper{
    max-width: 1060px;
    margin: 0 auto;   
}

.wrapper-full{
    max-width: 1262px;
    margin: 0 auto;
}

.link{
    display: inline-block;
    padding-right: 56px;
    color: #006DFE;
    background: url(../img/svg/arrow.svg) 95% 8px no-repeat;
    transition: 0.2s all;
    &:hover, :focus{
        color: #428ae9;
        background: url(../img/svg/arrow.svg) right 8px no-repeat;
    }
}

.btn{
    text-transform: uppercase;
    padding: 15px 40px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    background: #1B7DFF;
    color: white;
    border: 0;
    &:hover, &__submit:focus, &__submit:active{
            background: #3162a1;
		}
}


.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;

    &__wrapper {
        padding-top: 56px;
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-end;
        justify-content: space-between;
    }

    &__logo {
    }

    &__logo-pic {
    }

    &__nav {
        align-self: center;
        width: 490px;
    }

    &__list {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        flex: 1 1 100%;
    }

    &__item {
    }

    &__link {
        text-decoration: none;
        font-size: 18px;
        line-height: 24px;
        color: white;
    }

    &__link:hover, &__link:focus, &__link:active{
        opacity: .75;
    }
}

.intro{
    height: 100vh;
    background: url(../img/bac.jpg)no-repeat center;
    background-size: cover;
    padding-top: 263px;
}


.intro {
        padding-bottom: 255px;
		&__title {
            font-weight: 500;
            font-size: 50px;
            line-height: 60px;
            max-width: 620px;
            margin-bottom: 22px;
		}

		&__subtitle {
            max-width: 550px;
            margin-bottom: 59px;
		}
}


.search-form {

		&__wrap {
		}

		&__info {
            display: flex;
            flex-wrap: wrap;
		}

		&__field {
            background: transparent url(../img/svg/Oval.svg) no-repeat left 8px;
            background-size: 20px;
            border-bottom: 2px solid #BFC0C5;
            margin-right: 60px;
            width: 297px;
            padding-left: 43px;
            font-weight: 500;
            font-size: 18px;
            color: #FFFFFF;
            padding-bottom: 22px;
		}

        &__field::placeholder {
            font-weight: 500;
            font-size: 18px;
            color: #FFFFFF;
		}
}


.benefits {
    margin-bottom: 130px;
    &__wrap {
        max-width: 1262px;
        background: #FFFFFF;
        box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
        margin: 0 auto;
        margin-bottom: 130px;
        position: relative;
    }

    &__title {
        width: 100%;
        background: white;
        font-weight: 500;
        font-size: 35px;
        line-height: 42px;
        color: #102746;
        padding-left: 100px;
        padding-top: 93px;
        padding-bottom: 120px;
        position: absolute;
        left: 0;
        top: 0;
        transform: translateY(-100%);
    }

    &__conteiner {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        
    }
}

.card {
    color: #000000;
    padding-bottom: 112px;
    &__item {
        max-width: 310px;

    }

    &__img {
        width: 66px;
        height: auto;
        padding-bottom: 37px;
    }

    &__subtitle {
        font-weight: 500;
        font-size: 18px;
        padding-bottom: 26px;


    }

    &__text {
        padding-bottom: 39px;

    }

    &__link {
        
    }
}



.caption{
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    color: #102746;
    position: relative;
    padding-bottom: 10px;
    &:after{
        display: block;
        content: "";
        width: 253px;
        height: 3px;
        background-color: #006DFE;
        position: absolute;
        bottom: 0;
        left: 0;

    }
}


.places {
    margin-bottom: 130px;
    &__headconteiner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 35px;
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 10px;
    }

    &__card {
        position: relative;
        overflow: hidden;
        &:hover .places__card-pic{
            transform: scale(1.05);
        }

        &_big {
            grid-column: span 3;
            height: 355px;
        }
        &_small {
            grid-column: span 2;
            height: 283px;
        }
        &:after{
            display: block;
            content: "";
            width: 100%;
            height: 100%;
            background-color: rgba(21, 24, 36, 0.4);
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
        }
    }

    &__card-pic {
        height: 355px;
        width: 100%;
        object-fit: cover;
        transition: 0.20s;
    }

    &__card-title {
        font-size: 50px;
        line-height: 60px;
        position: absolute;
        bottom: 27px;
        left: 29px;
        z-index: 3;
    }

    &__card-link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 4;
    }
}

.tours {

    &__conteiner {
    }

    &__tour {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0 100px;
        align-items: center;
        margin-bottom: 77px;
    }
    margin-bottom: 140px;
}

.tour {

    &_thumb {
    }

    &__info {
    }

    &__title {
        font-weight: 500;
        font-size: 30px;
        line-height: 40px;
        color: #102746;
        margin-bottom: 85px;
    }

    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #102746;
        margin-bottom: 55px;
    }
}


.visit {

    &__title {
        margin-bottom: 54px;
    }

    &__conteiner {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 55px;
    }

    &__card {
    }
}

.visitcard {
    display: flex;
    flex-direction: column;

    &__pic {
        position: relative;
        margin-bottom: 45px;
    }

    &__img {
    }

    &__stats {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        background: rgba(21, 24, 36, 0.6);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: end;
        padding: 16px 25px;
        font-weight: 500;
    }

    &__title {
        margin: 0 auto 0 0;
    }

    &__likes {
    }

    &__likes-value {
        padding-right: 20px;
        background: url(../img/svg/live.svg) no-repeat right 3px;
        margin-right: 15px;
    }

    &__com {
        padding-right: 20px;
        background: url(../img/svg/com.svg) no-repeat right 7px;
    }

    &__com-value {
    }

    &__text {
        color: #102746;
        margin-bottom: 30px;
    }

    &__btn {
        display: inline-block;
        font-size: 16px;
        line-height: 19px;
        padding: 12px 19px;
        width: 120px;
        margin: auto 0 0 0;
    }
}