@import "_nullstyle.scss";

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');


body{
    font-family: "Lato";
    font-style: normal;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    color: #FFFFFF;
}


img{
    max-width: 100%;
    height: auto;
}

.wrapper{
    max-width: 1060px;
    margin: 0 auto;   
}


.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;

    &__wrapper {
        padding-top: 56px;
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-end;
        justify-content: space-between;
    }

    &__logo {
    }

    &__logo-pic {
    }

    &__nav {
        align-self: center;
        width: 490px;
    }

    &__list {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        flex: 1 1 100%;
    }

    &__item {
    }

    &__link {
        text-decoration: none;
        font-size: 18px;
        line-height: 24px;
        color: white;
    }

    &__link:hover, &__link:focus, &__link:active{
        opacity: .75;
    }
}

.intro{
    height: 100vh;
    background: url(../img/bac.jpg)no-repeat center;
    background-size: cover;
    padding-top: 263px;
}


.intro {

		&__title {
            font-weight: 500;
            font-size: 50px;
            line-height: 60px;
            max-width: 620px;
            margin-bottom: 22px;
		}

		&__subtitle {
            max-width: 550px;
            margin-bottom: 59px;
		}
}


.search-form {

		&__wrap {
		}

		&__info {
            display: flex;
            flex-wrap: wrap;
		}

		&__field {
            background: transparent url(../img/svg/Oval.svg) no-repeat left 8px;
            background-size: 20px;
            border-bottom: 2px solid #BFC0C5;
            margin-right: 60px;
            width: 297px;
            padding-left: 43px;
            font-weight: 500;
            font-size: 18px;
            color: #FFFFFF;
            padding-bottom: 22px;
		}

        &__field::placeholder {
            font-weight: 500;
            font-size: 18px;
            color: #FFFFFF;
		}

		&__submit {
            text-transform: uppercase;
            padding: 15px 40px;
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
            background: #1B7DFF;
            color: white;
            border: 0;
		}
        &__submit:hover, &__submit:focus, &__submit:active{
            background: #3162a1;
		}
}


.benefits {

    &__wrap {
        max-width: 1262px;
        background: #FFFFFF;
        box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
        margin: 0 auto;

        position: relative;
    }

    &__title {
        width: 100%;
        background: white;
        font-weight: 500;
        font-size: 35px;
        line-height: 42px;
        color: #102746;
        padding-left: 100px;
        padding-top: 93px;
        padding-bottom: 120px;
        position: absolute;
        left: 0;
        top: 0;
        transform: translateY(-100%);
    }

    &__conteiner {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        
    }
}

.card {
    color: #000000;
    padding-bottom: 112px;
    &__item {
        max-width: 310px;

    }

    &__img {
        width: 66px;
        height: auto;
        padding-bottom: 37px;
    }

    &__subtitle {
        font-weight: 500;
        font-size: 18px;
        padding-bottom: 26px;


    }

    &__text {
        padding-bottom: 39px;

    }

    &__link {
        display: inline-block;
        padding-right: 56px;
        color: #006DFE;
        background: url(../img/svg/arrow.svg) right 8px no-repeat;
    }
}
